<div class="row">
  <div class="col">
      <button class="btn btn-primary mt-3" (click)="openCreateEventModal()" >Crear evento</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Categoría</th>
          <th scope="col">Creado en</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events" >
          <th scope="row">{{event.name}}</th>
          <td>{{event.category}}</td>
          <td>{{event.createdAt}}</td>
          <td>
            <button class="btn btn-warning mr-2" (click)="edit(event)">Editar</button>
            <button class="btn btn-info mr-2" (click)="showDetail(event)">Detalle</button>
            <button class="btn btn-danger" (click)="delete(event)" >&times;</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
